
/* 清除浮动 */

.clearfix:after {
	/* 内容里面尽量不要空着，否则旧版本浏览器有空隙，
		引号里面不管写什么，后面都会隐藏的*/
	content: "清除浮动";
	/* 转换为块级元素 */
	display: block;
	/* 设置高度为0 避免内容将盒子撑开 */
	height: 0;
	/* 隐藏盒子，避免内容显示出来 */
	visibility: hidden;
	/* 这才是清除浮动 */
	clear: both;
}
/* 清除浮动，兼容IE6，IE7浏览器的处理方式 */
.clearfix {
	/* *号代表IE6、7能识别的特殊符号，带有*号的属性只有IE6、7才执行
		zoom 就是IE6、7 清除浮动的方法*/
	*zoom: 1;
}
