

body {
	font-size: 16px;
}
/* 左右浮动,便于重复使用 */
.leftFloat {
	float: left;
}
.rightFloat {
	float: right;
}

/* 顶部菜单栏 */
.topbar {
	background: #333333;
	height: 40px;
}
.container {
	width: 1226px;
	margin: 0 auto;
}
/* .container:before,
.container:after {
	content: "";
	display: table;
}
.container:after {
	clear: both;
}
*/
.topbar-info,
.topbar-nav {
	height: 40px;
	line-height: 40px;
	font-size: 0;
	display: inline-block;
}
.topbar a {
	font-size: 12px;
	color: #b0b0b0;
	text-decoration: none;
	display: inline-block;
}
.topbar span {
	margin: 0.5em;
	color: #424242;
	font-size: 12px;
}
.topbar a:hover {
	color: #fff;
}

/* 购物车 */
.topbar-cart a {
	height: 40px;
	line-height: 40px;
	display: block;
	width: 120px;
	background: #424242;
	text-align: center;
	margin-left: 15px;
}
.topbar-cart a:hover {
	background: #fff;
	color: #ff6700;
}
/* 购物车左边的图标 */
.topbar-cart i {
	font-size: 20px;
	text-align: center;
	padding-right: 4px;
	vertical-align: -4px;
}
/* 登录注册 */
.topbar-info .message {
	/*padding: 0 10px;
	*/
	padding-right: 10px;
}

/* header */
.header {
	height: 100px;
}

/* header 左边的logo */
.header-logo {
	margin-top: 22px;
}
.header-logo a {
	display: block;
	width: 55px;
	height: 55px;
	background: #ff6700 url(../images/mi-logo.png) no-repeat 3px 3px;
	/* 另一张图片是 mi-home.png 
		后期添加3D动画换图
	*/;
}

/* header 中间的菜单栏 */
.header-nav {
	width: 850px;
	height: 100px;
}
.header-nav .header-nav-list {
	width: 820px;
	height: 88px;
	padding: 12px 0 0 30px;
}
.nav-item-all,
.header-nav-list .nav-item {
	float: left;
}
.nav-item-all a,
.nav-item a {
	display: block;
	color: #333;
	text-decoration: none;
	padding: 26px 10px 38px;
}
/* 全部商品分类 */
.nav-item-all a {
	text-align: right;
	width: 127px;
}
.nav-item a:hover {
	color: #ff6700;
}

/* header 右边的搜索框 */
.header-search {
	width: 296px;
	height: 50px;
	margin-top: 25px;
}
/* 搜索框中的表单样式 */
.header-search .search-form {
	display: block;
	width: 296px;
	height: 50px;
	/* 开启定位，方便后面将search-text与search-btn定位 */
	position: relative;
}
/* 搜索框中的文本框 */
.header-search .search-text {
	display: block;
	width: 245px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	/* 去掉边框高亮 */
	outline: 0;
	position: absolute;
	top: 0;
	left: 0;
}
/* 搜索框中的提交按钮 */
.header-search .search-btn {
	display: block;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	/* 去掉边框高亮 */
	outline: 0;
	/* 这里是为了设置后面放置的字体图片 */
	font-size: 24px;
	line-height: 24px;
	background: #fff;
	color: #616161;
	position: absolute;
	top: 0;
	right: 0;
}

.header-search .search-btn:hover {
	background-color: #ff6700;
	color: #fff;
}

/* 中部的主题显示区域 */
.seckill {
	background: #f5f5f5;
	margin-bottom: 300px;
}
.seckill-head {
	margin-top: 19px;
	height: 170px;
	background: url(../images/seckill.jpg) no-repeat 50% 50%;
}

/* 菜单 */
.seckill-nav {
	width: 1226px;
	margin: -68px 0 22px;
}
/* 固定导航栏 */
.seckill-navfixed {
	position: fixed;
	top: 70px;
	/*z-index: 3;
	*/;
}
.seckill-nav ul {
	height: 68px;
	background: #414141;
}
.seckill-nav li {
	height: 68px;
	line-height: 68px;
	text-align: center;
	display: block;
	float: left;
	color: #fff;
	width: 20%;
	cursor: pointer;
}
.seckill-nav li em {
	display: inline-block;
	margin-left: 30px;
	font-style: normal;
	font-size: 18px;
	line-height: 1;
	vertical-align: middle;
}
.seckill-nav li span {
	display: inline-block;
	margin-left: 15px;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
}
.seckill-nav span em {
	display: inline-block;
	font-size: 14px;
	margin-left: 0;
	font-style: normal;
	text-align: left;
	line-height: 20px;
}
/* 菜单中激活的样式 */
.seckill-nav .seckill-nav-active {
	background: #f1393a;
}

/* 商品展示 */
.seckill-goods ul {
	margin-right: -13px;
	/* 隐藏所有的商品,包括其他几屏商品 */
	display: none;
}
/* 将隐藏的商品显示出来(一整屏显示) */
.seckill-goods .seckill-goods-avtive {
	display: block;
}
.seckill-goods li {
	float: left;
	width: 400px;
	height: 190px;
	background: #fff;
	margin-right: 13px;
	margin-bottom: 13px;
}
/* 商品悬浮效果 */
.seckill-goods li:hover {
	-moz-box-shadow:0px 8px 25px #dedede; 
	-webkit-box-shadow:0px 8px 25px #dedede; 
	box-shadow:0px 8px 25px #dedede;
	margin-top: -2px;
	/*background-color: red;*/
}
/* 其中一个商品 */
.seckill-goods .bg {
	width: 190px;
	height: 190px;
	float: left;
}
.seckill-goods .bg img {
	height: 190px;
}
 .seckill-goods .info {
	width: 190px;
	/* height: 160px;
	= height: 190px;
	- margin-top: 30px;
	*/
	height: 160px;
	background: #fff;
	/*或者margin-left: 210px;
	*/
	float: right;
	padding-top: 30px;
}

.seckill-goods .info .info-name {
	font-size: 16px;
	color: #333;
	height: 16px;
	line-height: 16px;
	/* 让文字不换行  注意,这里是a标签,所以需要将display设置为block */
	display: block;
	/* 不让文字换行 */
	white-space: nowrap;
	/* 隐藏超出部分 */
	overflow: hidden;
	/* 将最后的部分用三个小圆点代替 */
	text-overflow: ellipsis;
	text-decoration: none;
}
.seckill-goods .info .info-tips {
	font-size: 12px;
	line-height: 12px;
	color: #b0b0b0;
	margin-top: 10px;
}
.seckill-goods .info .info-price {
	font-size: 16px;
	line-height: 16px;
	color: #f1393a;
	margin-top: 30px;
}
.info .info-price del {
	color: #999;
	font-size: 12px;
	line-height: 12px;
	margin-left: 10px;
}
.seckill-goods .info .info-btn {
	display: inline-block;
	width: 118px;
	height: 28px;
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	background: #83c44e;
	text-decoration: none;
	margin-top: 19px;
}
.seckill-goods .info .info-person {
	font-size: 12px;
	line-height: 12px;
	color: #999;
	margin-top: 10px;
}

/* 商品下面的规则 */
.seckill-notice {
	font-size: 12px;
	color: #999;
	margin-top: 100px;
	padding-bottom: 35px;
	line-height: 18px;
}

