
/* 
	小米闪购
	中部的主题显示区域 
*/


.seckill {
	background: #f5f5f5;
	/*margin-bottom: 300px;*/
}
.seckill-head {
	margin-top: 19px;
	height: 170px;
	background: url(../images/seckill/seckill.jpg) no-repeat 50% 50%;
}

/* 菜单 */
.seckill-nav {
	width: 1226px;
	margin: -68px 0 22px;
}
/* 固定导航栏 */
.seckill-navfixed {
	position: fixed;
	top: 70px;
	z-index: 3;
}
.seckill-nav ul {
	height: 68px;
	background: #414141;
}
.seckill-nav li {
	height: 68px;
	line-height: 68px;
	text-align: center;
	display: block;
	float: left;
	color: #fff;
	width: 20%;
	cursor: pointer;
}
.seckill-nav li em {
	display: inline-block;
	margin-left: 30px;
	font-style: normal;
	font-size: 18px;
	line-height: 1;
	vertical-align: middle;
}
.seckill-nav li span {
	display: inline-block;
	margin-left: 15px;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
}
.seckill-nav span em {
	display: inline-block;
	font-size: 14px;
	margin-left: 0;
	font-style: normal;
	text-align: left;
	line-height: 20px;
}
/* 菜单中激活的样式 */
.seckill-nav .seckill-nav-active {
	background: #f1393a;
}

/* 商品展示 */
.seckill-goods {
	margin-left: -13px;
}
.seckill-goods ul {
	margin-right: -13px;
	/* 隐藏所有的商品,包括其他几屏商品 */
	display: none;
}
/* 将隐藏的商品显示出来(一整屏显示) */
.seckill-goods .seckill-goods-avtive {
	display: block;
}

.seckill-goods li {
	position: relative;
    z-index: 1;
    float: left;
    width: 400px;
    height:190px;
    margin-left: 13px;
    margin-bottom: 13px;
    background: #fff;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

/* 鼠标悬浮在商品上的时候的上浮效果 */
.seckill-goods li:hover {
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
}

/* 其中一个商品 */
.seckill-goods .bg {
	width: 190px;
	height: 190px;
	float: left;
}
.seckill-goods .bg img {
	height: 190px;
}
 .seckill-goods .info {
	width: 190px;
	/* height: 160px;
	= height: 190px;
	- margin-top: 30px;
	*/
	height: 160px;
	background: #fff;
	/*或者margin-left: 210px;
	*/
	float: right;
	padding-top: 30px;
}

.seckill-goods .info .info-name {
	font-size: 16px;
	color: #333;
	height: 16px;
	line-height: 16px;
	/* 让文字不换行  注意,这里是a标签,所以需要将display设置为block */
	display: block;
	/* 不让文字换行 */
	white-space: nowrap;
	/* 隐藏超出部分 */
	overflow: hidden;
	/* 将最后的部分用三个小圆点代替 */
	text-overflow: ellipsis;
	text-decoration: none;
}
.seckill-goods .info .info-tips {
	font-size: 12px;
	line-height: 12px;
	color: #b0b0b0;
	margin-top: 10px;
}
.seckill-goods .info .info-price {
	font-size: 16px;
	line-height: 16px;
	color: #f1393a;
	margin-top: 30px;
}
.info .info-price del {
	color: #999;
	font-size: 12px;
	line-height: 12px;
	margin-left: 10px;
}
.seckill-goods .info .info-btn {
	display: inline-block;
	width: 118px;
	height: 28px;
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	background: #83c44e;
	text-decoration: none;
	margin-top: 19px;
}
.seckill-goods .info .info-person {
	font-size: 12px;
	line-height: 12px;
	color: #999;
	margin-top: 10px;
}

/* 商品下面的规则 */
.seckill-notice {
	font-size: 12px;
	color: #999;
	margin-top: 100px;
	padding-bottom: 35px;
	line-height: 18px;
}





